# Ignore valid roads
/valid_roads/

# Ignore results
/results/
/destination/

# Ignore simulation data
/simulations/

# Ignore Shapely client specific file for pip
/Shapely-*

/Dockerfile
/.dockerignore

/.git
/.gitignore

/**/__pycache__

/.vscode

/documentation
